<div class="container">
  <h2><%= @store.name %></h2>
  <form action="/store/<%= @store.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="name">update store name</label>
  <input name="name" type="text" id="name">
  <button type="submit">Update</button>
  </form>

  <p><%= @store.name %> currently stocks the following brands:</p>
    <ul>
      <% if @store.brands.any? %>
        <% @store.brands.each do |brand| %>
          <li><%= brand.name %></li>
          <% end %>
      <% else %>
        <p>nothing here yet!</p>
      <% end %>
    </ul>

  <form action="/store/<%= @store.id %>" method="post">

    <label for="name">Add a brand to this store:</label>
    <input id="name" name="name" type="text">


    <button type="submit">Add</button>

  </form>
</div>
